.panel.panel-default
  .panel-heading
    = "Ordreliste"
  .panel-body
    - if @order.present?
      - @order.products.each_with_index do |product, index|
        - if (index-1)%2 == 0
          .row
            .col-xs-6
              = render partial: 'product', locals: {product: product}
        - else
          .col-xs-6
            = render partial: 'product', locals: {product: product}

.to_checkout.badge
  = link_to '#' do
    = "Gå til checkout"
    %i.fa.fa-arrow-circle-right

.shop_more.badge
  = link_to products_path do
    %i.fa.fa-arrow-circle-left
    = "Vælg mere"

= render partial: 'confirmation_box'

- if @order.present?
  :coffeescript
    $ ->
      order_number = "#{@order.item_count}"
      order_id = "#{@order.id}"
      setCookie("order_number", order_number)
      setCookie("order_id", order_id)
      $('.cart_badge').html(getCookie("order_number"))

