.row.headline
  .col-xs-3
    .order-list
      = "Ordre listen"
  .col-xs-6
  .col-xs-3
    .button.pull-right
      = "Placér ordren"

.row
  .col-xs-2
    = "Produkt"
  .col-xs-5
    = "Beskrivelse"
  .col-xs-3
    = "Antal"
  .col-xs-2
    .pull-right= "Total"

- if @order.present?
  - @order.products.each do |product|
    %hr
    .row
      .col-xs-2
        = image_tag(product.image_ref, class: product.html_class + " img-thumbnail")
      .col-xs-5
        %h3= product.name
        %p= product.description
        %p= product.price_kr
      .col-xs-3
        = product.count_in_order(@order.id)
      .col-xs-2
        .pull-right= product.total(@order.id)

%hr

.pull-right= "Subtotal: " + @order.acc_price.to_s + " kr."

%br
%hr
.row
  .col-xs-9
  .col-xs-3
    .button.pull-right
      = "Placér ordren"


- if @order.present?
  :coffeescript
    $ ->
      order_number = "#{@order.item_count}"
      order_id = "#{@order.id}"
      setCookie("order_number", order_number)
      setCookie("order_id", order_id)
      $('.cart_badge').html(getCookie("order_number"))

