- @products.in_groups_of(4).each do |product_row|
  .row
    - product_row.each do |product|
      - if product.present?
        .col-xs-3
          .product_block
            = link_to asset_path(product.image_ref), rel: 'shadowbox' do
              = image_tag(product.image_ref || 'salme_37_5_road', class: (product.html_class || 'square') + " img-thumbnail")
            %h2= product.name
            %p= product.description
            %p= product.price
            %a.btn.btn-primary{data: product.id.to_s, class: "add", name: product.image_ref || 'salme_37_5_road'}
              Tilføj til ordrelisten
              %i.fa.fa-plus

:coffeescript
  $ ->
    Shadowbox.init();
    $('.badge').html(getCookie("order_number"))
    order_number = getCookie("order_number")
    $('.add').click ->
      console.log(getCookie("salme_37_5_road"))
      console.log(getCookie("order_number"))
      setCookie($(this).attr('name'),$(this).attr('data'))
      order_number++
      setCookie("order_number", order_number.toString())
      $('.badge').html(getCookie("order_number"))


