%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to products_path, class: 'navbar-brand' do
        = "Mannakorn.dk"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to products_path do
            = "Overblik"
            %span.sr-only (current)
        %li
          = link_to more_path do
            = "Mere"
        %li
          = link_to more_path do
            = "Kontakt"
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            .badge.cart_badge= "0"
            %span.fa.fa-shopping-cart
            %span.caret
          %ul.dropdown-menu.dropdown-cart{:role => "menu"}
            %li
              %span.item
                %span.item-left
                  %img{:alt => "", :src => "http://lorempixel.com/50/50/"}/
                  %span.item-info
                    %span Item name
                    %span 23$
                %span.item-right
                  %button.btn.btn-xs.btn-danger.pull-right x
            %li
              %span.item
                %span.item-left
                  %img{:alt => "", :src => "http://lorempixel.com/50/50/"}/
                  %span.item-info
                    %span Item name
                    %span 23$
                %span.item-right
                  %button.btn.btn-xs.btn-danger.pull-right x
            %li
              %span.item
                %span.item-left
                  %img{:alt => "", :src => "http://lorempixel.com/50/50/"}/
                  %span.item-info
                    %span Item name
                    %span 23$
                %span.item-right
                  %button.btn.btn-xs.btn-danger.pull-right x
            %li
              %span.item
                %span.item-left
                  %img{:alt => "", :src => "http://lorempixel.com/50/50/"}/
                  %span.item-info
                    %span Item name
                    %span 23$
                %span.item-right
                  %button.btn.btn-xs.btn-danger.pull-right x
            %li.divider
            %li
              = link_to orders_path, class: 'cart' do
                = "Gå til ordrelisten"
    / /.navbar-collapse
  / /.container-fluid
