!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= "Mannakorn.dk"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body{class: controller.controller_name + " " + action_name}
    .header
      .nav.navbar.navbar-inverse
        %ul.nav.navbar-nav
          %li.overview.active= link_to "Overblik", products_path
          %li.more= link_to "Se mere", more_path
          %li.contact= link_to "Kontakt", contact_path
          %li.cart
            = link_to new_order_path do
              %i.fa.fa-shopping-cart
                %span.badge= 0
    .container
      = yield

